.custom-button{
    width: 150px;
    height: 60px;
    border: 1px black solid;
    background-color: black;
    color: white;
    font-size: 20px;
    &:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
    &.google-sign-in{
        background-color: #4285f4;
        color: white;
        
        &:hover{
            background-color: #357ae8;
            border: none;
        }    
    }
}